var fv_wxWOWIdx=0;function WOWInit(){}function WOW(){return"wx-wow wowId-"+fv_wxWOWIdx}function WOWId(){return fv_wxWOWIdx++}function WOWChange(a,c,b,d){a&&a.idx&&(c=b.selectComponent(a.idx),b={},a.durationTime?b["animation-duration"]=a.durationTime:"",a.delayTime?b["animation-delay"]=a.delayTime:"",a.iteration?b["animation-iteration-count"]=a.iteration:"",c.setStyle(b),a.prefix?c.addClass(a.prefix):"");return!1}module.exports={WOWInit:WOWInit,WOW:WOW,WOWId:WOWId,WOWChange:WOWChange};